.main-details-container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1120px) 1fr;
    >* {
        grid-column: 2;
    }

}

.images-holder {
    padding-top: rem(24px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;
    height: em(500px);


    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    :first-child {
        grid-column: span 2;
        grid-row: span 2;
        border-top-left-radius: 0.7em;
        border-bottom-left-radius: 0.7em;

    }

    :nth-child(3) {
        border-top-right-radius: 0.7em;
    }

    :nth-child(5) {
        border-bottom-right-radius: 0.7em;
    }
}



.details-title {

    font-family: 'Airbnb-book';
    font-size: em(30px);
    font-weight: 500;
    color: $title-txt-clr;
    line-height: rem(30px);

    padding-top: rem(24px);
    margin: 0;

}


.end-links {

    .saveBtn {
        position: relative;
        left: 8px;
    }


    div {
        display: inline;
        padding: 8px;
        border-radius: 8px;

        &:hover {
            background-color: #f7f7f7;
        }

        >* {
            color: $title-txt-clr;
        }
    }

    :first-child {
        width: em(16px);
    }
}

.links-line {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    font-size: em(16px);
    font-weight: 400;
    font-family: 'Airbnb-medium';
    line-break: strict;
    line-height: 20px;
    align-self: center;

    span {
        padding: .5rem;
    }

    :first-child {
        :first-child {
            text-decoration: none;
        }
    }

    >* {
        text-size-adjust: 100%;
        line-height: 20px;

        >* {
            color: $title-txt-clr;
        }
    }

    img {
        width: rem(8px);
        margin-right: 4px;
        position: relative;
        top: 2px;

        &.star {
            width: rem(14px);
        }
    }

    .superhost {
        font-family: 'Airbnb-book';
    }

    span.superhost {
        padding: 0;
    }

}


.host-holder {
    width: 100%;
    border-bottom: 1px solid #dfdddd;
    padding-top: em(48px);
    padding-bottom: em(24px);
    display: flex;
    justify-content: space-between;

    h2,
    h3 {
        margin: 0;
        width: max-content;
    }

    h3 {
        display: inline-block;
        font-weight: 200;
    }

    .host-img {
        width: rem(56px);
        border-radius: 50%;
    }


}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid #dfdddd;

    .left-bar {
        width: 100%;
        display: inline-block;
        grid-column: span 3;
        grid-row: 1;
    }
}

.highligths {
    border-bottom: 1px solid #dfdddd;

    img {
        width: rem(24px);
    }

    h2 {
        display: inline-block;
        margin-left: 1rem;
    }
}

.coverTxt {
    padding-top: rem(20px);
    padding-bottom: rem(24px);
    border-bottom: 1px solid #dfdddd;

    h2 {
        font-family: 'Airbnb-bold';
        font-size: rem(40px);
        margin: 0;
    }

    p {
        margin-top: 0;
    }

    span {
        color: $clr1;
    }

    a {
        color: $title-txt-clr;
        font-family: 'Airbnb-bold';
    }
}

.summary-holder {
    padding-top: rem(24px);
    padding-bottom: rem(24px);
    border-bottom: 1px solid #dfdddd;

    a {
        color: $title-txt-clr;
        font-family: 'Airbnb-bold';
    }

    h4,
    .summary {
        margin: 0;
    }

}

.amenities {
    padding-top: rem(24px);
    padding-bottom: rem(24px);
    border-bottom: 1px solid #dfdddd;

    li {
        padding-bottom: rem(16px);
        font-size: rem(16px);
    }

    .show-all-btn {
        font-family: 'Airbnb-bold';
        padding: rem(13px) rem(23px);
        border: 1px solid $title-txt-clr;
        border-radius: rem(8px);
        display: inline-block;
    }

}