.main-details-container {
    font-family: 'Airbnb-medium';
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }

}

.limks-line {
    display: flex;
    justify-content: space-between;

}

.start-links {
    >* {
        margin-inline-end: 1rem;
    }

}

.end-links {
    >* {
        margin-inline-start: 1rem;
    }

}

.images-holder {
    display: flex;
    // grid-template-columns: 2fr 1fr 1fr;
    :first-child {
        height: 500px;
        width: 500px;
    }
    
    
    &:not(:first-child){
        
        object-fit:cover;
        width: 100%;
        max-height: 25%;
    }

}