.main-details-container {
    font-family: 'Airbnb-medium';
    display: grid;
    grid-template-columns: $layoutPadding 1fr $layoutPadding;

    >* {
        grid-column: 2;
    }

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }

    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }

    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }

}

.limks-line {
    display: flex;
    justify-content: space-between;

}

.start-links {
    >* {
        margin-inline-end: 1rem;
    }

}

.end-links {
    >* {
        margin-inline-start: 1rem;
    }

}

.images-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(2, 1fr);
    gap: .5rem;
    
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }  
    
}

.images-holder > :first-child {
    grid-column: span 2;
    grid-row: span 2;  

}