.header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(233, 232, 232);
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: em(400px);
  padding-top: em(16px);
  padding-bottom: em(16px);



}

.search-icon-container {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: em(32px);
  height: em(32px);
  border-radius: 50%;

  .search-icon {
    width: em(15px);
  }

}


.main-header-nav {
  width: em(352px);
  border: 1px solid black;
  align-items: center;
  justify-content: center;

  .search-icon {
    width: em(16px);
  }

}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: em(220px);
  justify-content: space-around;

}




.user-humburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: em(77px);
  border: 1px rgb(85, 85, 98) solid;
  justify-content: space-around;
  border-radius: 25px;

  .burger-icon {
    width: em(16px);
  }


}

.logo {
  width: em(100px);
}


.globe-icon {
  width: em(16px);
}

.user-img {
  width: 30px;
  border-radius: 50px;
}

.main-header-nav {
  display: flex;
  justify-self: end;
  grid-area: nav;
  top: 0px;
  right: 0px;
  z-index: 10;

  .main-nav {
    a {
      @include btn($type: light, $padding: em(16px) em(20px));
      display: block;

      &.active {
        background-color: $clr1;
        color: $clr3;
      }
    }
  }


}

.li-header {
  display: flex;
  align-items: center;
}