.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color: rgb(233, 232, 232);
  height: 80px;
  width: 100%;

}

.header-container {
  // max-width: 1495px;
  margin: 0;

  &.open {
    transition: all 0.3s ease;
  }
}

.dynamic-header {
  border-bottom: solid 1px;
  border-bottom-color: rgb(233, 232, 232);
  display: flex;
  justify-content: center;
  padding-bottom: em(15px);
  width: 100%; 
  border: red solid 2px;
  // transition: all 1s linear;
  // opacity: 1; 
}

.fullSearch-enter-active,
.fullSearch-leave-active {
  transition: opacity 0.5s ease;
}

.fullSearch-enter-from,
.fullSearch-leave-to {
  opacity: 0;
}

@keyframes changeSize {
  0% {
    transform: scale(1)
  }

  65% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(1.4)
  }
}

.details-header {
  max-width: 1120px;
  margin: auto;
}

// .left-section {
//   display: flex;
//   align-items: center;
// }

// .middle-section {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: fit-content;
//   width: fit-content;
//   padding-left: em(8px);
//   padding-right: em(8px);
//   border: 1px solid black;
//   justify-content: space-around;
//   border-radius: 25px;

//   .search-icon {
//     width: em(16px);
//   }
// }

.search-area {
  &.destinations {
    flex-grow: 1;
  }

  &.date {
    flex-grow: 1;
  }

  &.guests {
    flex-grow: 3;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.search-area-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.search-icon-container {
  background-color: $primary-clr;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: em(32px);
  height: em(32px);
  border-radius: 50%;

  .search-icon {
    width: em(15px);
  }
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  // width: em(220px);
  // justify-content: space-around;
  a {
    color: $primary-txt-clr;
    text-decoration: none;
  }
}

.user-humburger {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: em(77px);
  border: 1px rgb(85, 85, 98) solid;
  justify-content: space-around;
  border-radius: 25px;
  margin-top: em(19px);
  margin-bottom: em(19px);

  .burger-icon {
    width: em(16px);
  }
}

.logo {
  width: 118px;

}

.globe-icon {
  width: 16px;
  z-index: 0;
  // border-radius: 50%;
  margin: 16px;

  &:hover {
    background-color: aqua;
  }

  .img {
    width: 100%;
    z-index: 20;
    padding: 16px;
    background-color: rgb(227, 196, 222);
  }
}

.user-img {
  width: 30px;
  border-radius: 50px;
}

.main-header-nav {
  .main-nav {
    a {
      @include btn($type: light, $padding: em(16px) em(20px));
    }
  }
}

.li-header {
  display: flex;
  align-items: center;
}

.horLine {
  background-color: #dfdddd;
  width: 100%;
  height: 1px;
}