.backoffice{
    height: 900px;
    width: 100%
}

.pr-5{
    padding-right: 5px;
}

.pl-5{
    padding-left: 5px;
}

.items-area{
    display:flex;
    justify-content: space-evenly;
}

.scores-chart{
    width:100%;
    height: 80%;
    object-fit: contain;
}

.revenue-chart{
    width:100%;
    height: 100%;
}

.card-title{
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    line-break: strict;
    line-height: 20px;
    font-family: "Airbnb-book";
    margin-top: 20px;
    margin-bottom: 10px;
}

.host-stay-container{
    width: 100%;
    height: 250px;
    //padding: 8px;
    //align-items: center;
    //padding-left: 30px;
    cursor: pointer;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.host-stay-img{
    width: 80%;
    height: 100%;
    border-radius: 25px;
}

.graph-holder {
    display: none;
    width: 300px;
    height: 230px;
    border: rgb(221, 221, 221) solid 1px;
    border-radius: 12px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    font-weight: 400;
    line-break: strict;
    line-height: 20px;
    //padding: 0px;
    //justify-content: center;
    flex-grow: 1;
    //display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
    //padding-top: 20px;
    border: red solid 1px;
   &.wide{
    //flex-grow: 2;
   }
}

// .reviews-title{
//     text-align: center;
//     margin-top: 0px;
// }

.data-holder{
    //padding: 0px 0px 0px 20px;
    border: green 2px solid;

    & .fill-bar{
        height: 1px;
        background-color:red;
        border-color: red;
        padding: 0.5px;
    }
}



.bar-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-family: "Airbnb-book";
    padding: 3px;
    align-content: center;
}

.bar-text{
    width: em(140px);
    padding-top: 4px;
    color: $clr10;
}

.bar-num{
    display:flex;
    width: 150px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.el-table-container{
    padding-top: 30px;

    &.small{
        padding-top: 0px
    }
}

.el-tag{
    width: 80px !important;
}

.address{
    cursor: pointer;
}

.main-guest-container{
    display:flex;
    flex-direction: row;
    justify-content: start;
}

.main-guest-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.details-title.small
{
    font-size: 20px;
}

.el-table__row{
    &:hover .address{
        color: rgba(5, 5, 146, 0.808);
        cursor: pointer;
    }
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.table-button{
    width: 100px;
    height: 30px;
    border-radius: em(15px);
    background-color: transparent;
    border: $clr9 solid 1px;
    cursor: pointer;

    &.decline:hover{
        color: rgb(243, 49, 35);
        border: rgb(243, 49, 35) solid 1px;
    }

    &.approve:hover{
        color: #67c23a;
        border: #67c23a solid 1px;
    }
}

