.trip-details-holder{
    width: 30%;
    height: rem(500px);
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    position:relative;
    left:70%;
    display: inline-block;
}