.el-range-editor{
  box-shadow: none !important;
  background-color: transparent !important;
  width: em(102px) !important;
  height: 5px !important;
  padding: 0px !important;
}

.el-input__wrapper{
  justify-content: flex-start !important;
}

.el-date-editor .el-range__icon{
  display: none !important;
}

.el-date-editor .el-range-input {
  border: none !important;
  background-color: transparent !important;
  height: 50% !important;
  width: 100% !important;
  text-align:left !important;
  &::-webkit-input-placeholder {
    color: $clr2;
    font-weight: bold;
  }
  &:focus{
    outline: 0 !important;
  }
}

.el-range-separator{
  display: none !important;
}

.picker-date-from > input:nth-child(4){
    display: none !important;
    width: 0px !important;
}

.picker-date-to >  input:nth-child(2){
  display: none !important;
  width: 0px !important;
}

.search-area.large-area{
  &:hover{
    background-color: $clr9;
  }

  &.active{
    background-color: $clr3;
    box-shadow: 8px 10px 20px 0px rgb(0 0 0 / 8%), -9px -1px 12px rgb(0 0 0 / 5%);
  }

  & > input{
    border: none;
    background-color: transparent;
    &:focus{
      outline: 0;
    }
  }

  &.destination{
    flex-grow: 5;
  }

  &.guests{
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.guests-placeholder{
  display:flex;
  flex-direction: column;
  justify-items: center;
}

.action-search{
  background-color: $primary-clr;
  color:$clr3;
  border-radius: 5em;
  min-width: em(120px);
  height: 70%;
  margin-right: em(10px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: em(2px) em(20px) em(2px) em(20px);
}

.action-search > img{
  width: em(20px);
}

.action-search > span{
  font-family: 'Airbnb-bold';
  font-size: large;
  margin-left: 10px;
}
