.stay-preview {
  //width: 325px;
  //height: 406px;
  font: inherit;
  font-size: 100%;

  img {
    object-fit: cover;
  }
}

.preview-img-carusela {
  width: 100%;
  height: auto;
  //height: 301px;
  border-radius: 0.7em;
}

.el-carousel,
.el-carousel-item {
  border-radius: 0.7em;
  background-color: transparent;
  object-fit: contain;
}

.stay-preview-info-container {
  padding-top: 1rem;
}

.svg-heart {
  position: absolute;
  object-fit: contain;
  right: em(5px);
  top: em(5px);

  fill: $clr6;
  stroke: white;
  opacity: 0.8;
  // filter: drop-shadow(-.5px -.5px .5px white) drop-shadow(.5px -.5px 0px white) drop-shadow(.5px .5px 0px white) drop-shadow(-.5px .5px 0px white)
}

.hurt-container {}