.stay-list-container {}

.stay-list {
    padding-top: 80px;
    max-width: 1600px;
    margin: 0 auto;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 290px));
    grid-auto-rows: minmax(400px, auto);
    // grid-auto-flow: dense;
    gap: 24px;
    // @include aspect-ratio(100, 56); //ratio-16-9 
    // @include aspect-ratio(100, 100); //ratio-square 

    // @include for-narrow-layout {
    //     @include layoutGTC($break-narrow);
    //     @include aspect-ratio(100, 100); //ratio-square 
    // }

    // @include for-normal-layout {
    //    // @include layoutGTC($break-normal);
    //     //@include aspect-ratio(100, 80);  //ratio-card
    // }

    //@include for-wide-layout {
    // @include layoutGTC($break-wide);
    //@include layoutGTC($break-normal);
    //@include layoutGTC($break-narrow);
    //     //@include aspect-ratio(100, 56);  //ratio-16-9 
    //     //@include aspect-ratio(100, 100);    //ratio-square 
    //    // @include aspect-ratio(100, 80);  //ratio-card
    //    @include aspect-ratio(100, 150);  //ratio-poster
    //}
}