.el-range-editor {
  box-shadow: none !important;
  background-color: transparent !important;
  width: em(102px) !important;
  height: 5px !important;
  padding: 0px !important;
}

.el-input__wrapper {
  justify-content: flex-start !important;
}

.el-date-editor .el-range__icon {
  display: none !important;
}

.el-range-input {
  // border: none !important;
  // background-color: transparent !important;
  // height: 50% !important;
  width: 100% !important;
  text-align: left !important;


  font-size: 1666px;
  line-height: 18px;
  font-weight: 600;
  // color: '#222222';


  &::-webkit-input-placeholder {
    // color: $clr2;
    // font-weight: bold;
  }

  &:focus {
    outline: 0 !important;
  }
}

.el-range-separator {
  display: none !important;
}

.picker-date-from>input:nth-child(4) {
  display: none !important;
  width: 0px !important;
}

.picker-date-to>input:nth-child(2) {
  display: none !important;
  width: 0px !important;
}

.large-area input {
  border: none;
  background-color: transparent;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Airbnb-book';
  color: '#717171';
  text-overflow: ellipsis;

  &.addGes {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}

.large-area span {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  font-family: 'Airbnb-book';
  padding-bottom: 2px;

}

.search-area.large-area {
  &:hover {
    background-color: $clr9;
  }

  &.active {
    background-color: $clr3;
    box-shadow: 8px 10px 20px 0px rgb(0 0 0 / 8%), -9px -1px 12px rgb(0 0 0 / 5%);


    &>span {}
  }

  &>input {


    &:focus {
      outline: 0;
    }
  }

  &.destination {
    flex-grow: 5;

  }

  &.guests {
    // flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;



  }
}

.guests-placeholder {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.action-search {
  background-color: $primary-clr;
  color: $clr3;
  border-radius: 5em;
  height: 83%;
  margin-right: em(6px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 em(20px) 0 em(20px);

  & span {}
}

.action-search>img {
  width: em(20px);
}




.action-search>span {
  font-weight: 200;
  font-family: 'Airbnb-book';
  font-size: large;
  margin-left: 10px;
  letter-spacing: normal;
}

.drop-menu-container {
  height: 2900vh;
  width: 110vw;
  position: absolute;
  background-color: black;
  z-index: 012;
  opacity: 0.5;
  top: 165px;
  right: 0;
}

.drop-menu {

  // border: 1px solid black;
  height: 100px;
  position: absolute;
  bottom: -415px;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  height: 406px;
  width: 403px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  left: -150px;
  line-height: 22px;
  padding: 5px 16px;
  text-align: start;


  & .input-num-container {
    width: 100%;
    display: flex;
    width: 330px;
    // border: 1px black solid;
    align-items: center;
  }

  & .input-num {
    width: 130px;
    display: flex;
    align-items: center;
    // padding-right: 10px;
    // padding-left: 10px;
    justify-content: space-around;

    & span {
      font-size: 16px;
    }

    & button {
      font-size: 16px;
      margin-right: 10px;
      margin-left: 10px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: white;
    }

  }

}


.drop-item {
  width: 330px;
  padding-right: 0;
  padding-left: 0;
}

.txt-drop-item {
  flex-direction: column;
  justify-self: flex-start;
}

.el-input-number__decrease {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.el-input-number__increase {
  width: 24px;
  height: 24px;

  border-radius: 50%;
}