.preview-img-carusela {
  width: 100%;
  height: 100%;
  border-radius: 0.7em;
}

.el-carousel,
.el-carousel-item {
  border-radius: 0.7em;
  background-color: transparent;
  object-fit: contain;
}

.stay-preview-info-container {
  padding-top: 1rem;
}

.svg-heart {
  position: absolute;
  object-fit: contain;
  right: em(5px);
  top: em(5px);
  fill: $clr6;
  stroke: white;
  opacity: 0.8;
}


.el-carousel__button {
  --el-carousel-indicator-height: 11px;
  --el-carousel-indicator-width: 11px;
  border-radius: 50%;
}