.stay-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: em(20px);
    padding-bottom: em(20px);
    height: em(78px);
}

.btn.btn-default{
    width: em(91px);
    height: em(48px);
    border-radius: em(10px);
    margin-left:  70px;
}