.trip-details-holder{ // rigt grid colum
    width: 100%;
    display: inline-block;
    grid-column: span 2;
    
    // .trip-details{
    //     height: rem(500px);
    //     border: 1px solid rgb(209, 73, 73);
    //     margin: .5rem;
    //     margin-right: 0;
    //     position: sticky;

    // }
}