.trip-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.trip-details-holder {
    margin-top: 40px;
    width: 372px;
    height: 461px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 400;
    line-break: strict;
    line-height: 20px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px
}

.price-tag {
    -moz-box-align: baseline !important;
    -moz-box-pack: justify !important;
    -moz-box-direction: normal !important;
    -moz-box-orient: horizontal !important;
    display: flex !important;
    flex-flow: row wrap !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    margin-bottom: 24px !important;


    white-space: nowrap !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;

    color: rgb(34, 34, 34) !important;

}

.price-for-night {
    font-weight: 550 !important;
    font-size: 26px !important;
    line-height: 26px !important;
}

.trip-details {

    height: 226px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.price-line {
    color: rgb(34, 34, 34) !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-break: strict !important;
    line-height: 20px !important;
    text-align: left !important;
    text-decoration: underline;

}

.price-total {
    color: rgb(34, 34, 34);
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-break: strict;
    line-height: 20px;
    order: 2;
    white-space: nowrap
}

.check {

    font-size: 10px !important;
    line-height: 12px !important;
    text-transform: uppercase !important;
    font-weight: 800 !important;
    width: fit-content;
}



.trip-order-container {
    // border: 1px solid #cecece;

    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 400;
    line-break: strict;
    line-height: 20px;
    margin-bottom: 16px;
    // width: 333px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}



.date-details {
    min-height: 56px;
    outline: currentcolor none medium;
    margin: 0px;

    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    line-height: 18px;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: flex;




}

.date-details-cell {
    min-height: 56px;
    display: flex;
    padding: 12.5px 0px 0px 12px !important;
    flex-direction: column;
    font-family: inherit;
    cursor: pointer;
    flex-grow: 1;
    // justify-content: center;
    border: 1px solid #cecece;


}



.gusts-details-container {
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;

    display: flex;
    flex-direction: row;
    color: rgb(34, 34, 34) !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    border-radius: 0px 0px 8px 8px;
    inset: 0px 0px -1px;
    // border: 1px black solid;
    justify-content: space-between;
    height: 56px;

    font-weight: 400;
    line-break: strict;
    line-height: 20px;
}

.gusts-details {
    flex-direction: column;
    width: fit-content;
    padding: 12.5px 0px 12.5px 12px !important;
    display: flex !important;
}

.drop-menu-details {
    background-color: rgb(255, 255, 255);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    line-height: 22px;
    padding: 5px 16px;
    text-align: start;
}

.trip-message {
    height: 26px;
    text-align: center;
}

.btn-hover {
    align-self: center;
    width: 200px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #fff !important;
    cursor: pointer !important;
    margin: 20px !important;
    height: 55px !important;
    text-align: center !important;
    border: none !important;
    background-size: 300% 100% !important;
    -moz-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out !important;
    -webkit-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f) !important;
    box-shadow: 0 5px 15px rgb(242 97 103 / 40%) !important;
}

.action-reserve {
    color: $clr3;
    border-radius: 1em;
    height: 48px;
    text-align: center;
    padding: 1em;
}

// .data-change-area {
// height: 112px;
// display: flex;
// flex-direction: column;
// }

// .el-date-picker-style {
// height: 200p;
// width: 400px;
// }

// .dates-labels {
// display: flex;
// width: 400px;
// justify-content: space-around;
// }

.trip-total-price {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.trip-fee {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 17px;
}

.total {
    font-size: 16px !important;
    line-height: 20px !important;
    color: rgb(34, 34, 34) !important;
    // font-weight: 600 !important;
    font-family: 'Airbnb-bold';

}

.trip-footer {
    border-bottom: $clr9 solid 1px;
    // display: flex;
    // align-content: center;
    justify-content: center;
    height: 125px;
    // border: green 2px solid;
    margin-top: 24px !important;

}



.btn-arrow-details {
    width: fit-content;
    width: 16px;
    height: 16px;
    align-self: center;
}

.input-num-container {
    flex-direction: column;
    align-items: center;
}

.txt-drop-item-details {
    flex-direction: column;
    justify-self: start;
    width: 110px;
    height: 42px;

}

.drop-item-details {
    width: 330px;

    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    border: 1px solid rgb(11, 9, 9);

    & .input-num {
        align-items: center;
        box-sizing: border-box;
        color: rgb(34, 34, 34);
        display: inline-flex;
        font-size: 16px;
        font-weight: 400;
        height: 32px;
        justify-content: space-between;
        line-break: strict;
        line-height: 20px;
        pointer-events: auto;
        text-align: left;
        width: 104px;
        -moz-box-align: center;

        & span {
            font-size: 16px;
            width: fit-content;
        }

    }

}

.inc-btn-details {
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: rgb(176, 176, 176);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(176, 176, 176);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(176, 176, 176);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(176, 176, 176);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(113, 113, 113);
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    justify-content: center;
    line-break: strict;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(113, 113, 113);
    outline-style: none;
    outline-width: 0px;
    // padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    pointer-events: auto;
    text-align: center;
    text-decoration-color: rgb(113, 113, 113);
    text-decoration-line: none;
    text-decoration-style: solid;
    touch-action: manipulation;
    width: 32px;
    -moz-box-align: center;
    -moz-box-flex: 0;
    -moz-box-pack: center
}

.inc-btn-details:hover {
    font-weight: 800;
    color: black;
    border-width: 2px;
    border: black 1px solid;
}