body {
    margin: auto;
    align-self: center;
    max-width: 1600PX;
}

:root {
    width: 100%;
    line-height: 1.43;
    color: $primary-txt-clr;
    font-size: em(14px);
    font-family: 'Airbnb-book';

    a {
        text-decoration: underline;
    }

    img {
        vertical-align: unset;
    }
}