body {
    margin: auto;
    align-self: center;
<<<<<<< HEAD
    max-width: 1600px;
    
=======
    max-width: 1600PX;
>>>>>>> 6b695883ee0324effae4b4b5bcc2475085b0ac22
}

:root {
    width: 100%;
    line-height: 1.43;
    color: $primary-txt-clr;
    font-size: em(14px);
    font-family: 'Airbnb-book';

    a {
        text-decoration: underline;
    }

    img {
        vertical-align: unset;
    }
}