.search-area {
    display: flex;
    flex-direction: column;
    border-radius: 5em;
    align-items: flex-start;
    justify-content: center;
    padding-left: em(20px);
    // flex-grow: 1;







}

.search-area-text-light {
    font-weight: 200;
    color: #717171;

}